@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header p{
    background-color: #1CD1B0;
}

h1{
    background-color: #00669F;
}
section {
    flex-direction: row;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
    
}

article {

    background-color: pink;
    width: 300px;
    margin-top: calc(50% - 40%);
	position: relative;
}

article i{
    position: absolute;
    font-size: 25px;
    z-index: 10;
    color: crimson;
    top: 10px;
    left:10px;
}